# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\tsto\Documents\Lernmaterialien\Module\Informatik und Wirtschaftsinformatik i.e.S\MovieRatings\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
